In [258]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import os
import matplotlib
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
#from gensim import corpora, models
from collections import Counter
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold
from sklearn.metrics import f1_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix

In [259]:
df1 = pd.read_csv("/Users/nadeemm/Downloads/Kaggle Data sets/HackerEarth/3c055e822d5b11ea/train.csv",delimiter=",")
df1.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054

In [260]:
df1.dataframeName = 'sample_submission.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 10000 rows and 12 columns

In [261]:
df1.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054

In [262]:
df2 = pd.read_csv("/Users/nadeemm/Downloads/Kaggle Data sets/HackerEarth/3c055e822d5b11ea/test.csv",delimiter=",")

In [263]:
df2.dataframeName = 'test.csv'
nRow,nCol = df2.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 2500 rows and 11 columns

In [264]:
df2.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,19.497717,16,6,72.151322,0.388959,78.32,4,37949.724386,2,0.069692,1
1,58.173516,15,3,64.585232,0.250841,78.60,7,30194.805567,2,0.002777,10
2,33.287671,15,3,64.721969,0.336669,86.96,6,17572.925484,1,0.004316,14
3,3.287671,21,5,66.362808,0.421775,80.86,3,40209.186341,2,0.199990,17
4,10.867580,18,2,56.107566,0.313228,79.22,2,35495.525408,2,0.483696,21

In [265]:
df1.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054

In [266]:
df1_copy = df1.copy()

In [267]:
df1_copy.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352,7570
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350,12128
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364,2181
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728,5946
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883,9054

In [268]:
df1_safety_score = df1_copy.sort_values(by = ['Safety_Score','Total_Safety_Complaints','Days_Since_Inspection','Violations','Accident_ID','Accident_Type_Code'],
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last')

In [269]:
df1_safety_score.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
8619,Highly_Fatal_And_Damaging,0.0,20,0,70.282589,0.199633,78.37,6,47182.814607,2,0.011599,12099
1339,Highly_Fatal_And_Damaging,0.0,20,1,65.861440,0.368043,81.64,7,49433.302979,1,0.004578,7970
4690,Highly_Fatal_And_Damaging,0.0,20,7,64.995442,0.549435,83.36,1,27361.800001,0,0.997981,10859
9473,Highly_Fatal_And_Damaging,0.0,20,9,80.446673,0.396892,79.01,1,31491.276359,2,1.162902,11142
4171,Highly_Fatal_And_Damaging,0.0,21,14,63.901550,0.322604,88.11,3,24144.011527,2,0.119253,12038

In [270]:
df_safety_score_decending = df1_copy.sort_values(by = ['Safety_Score','Total_Safety_Complaints','Days_Since_Inspection','Violations','Accident_ID','Accident_Type_Code'],
    axis=0,
    ascending=False,
    inplace=False,
    kind='quicksort',
    na_position='last')

In [271]:
df_safety_score_decending

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
1247,Significant_Damage_And_Fatalities,100.000000,6,17,72.971741,0.363354,84.03,6,36458.580212,2,0.008634,9162
9137,Significant_Damage_And_Fatalities,100.000000,5,3,81.358250,0.303131,79.96,3,23758.029783,2,0.118532,10323
4359,Significant_Damage_And_Fatalities,100.000000,4,0,63.901550,0.245432,80.44,7,36722.333573,4,0.003169,3261
7461,Significant_Damage_And_Serious_Injuries,98.401826,5,28,49.635369,0.354339,76.53,7,34738.058245,2,0.003080,1331
6464,Significant_Damage_And_Serious_Injuries,98.401826,3,26,55.059253,0.475868,79.26,7,29830.851138,2,0.002628,5270
...,...,...,...,...,...,...,...,...,...,...,...,...
4171,Highly_Fatal_And_Damaging,0.000000,21,14,63.901550,0.322604,88.11,3,24144.011527,2,0.119253,12038
9473,Highly_Fatal_And_Damaging,0.000000,20,9,80.446673,0.396892,79.01,1,31491.276359,2,1.162902,11142
4690,Highly_Fatal_And_Damaging,0.000000,20,7,64.995442,0.549435,83.36,1,27361.800001,0,0.997981,10859
1339,Highly_Fatal_And_Damaging,0.000000,20,1,65.861440,0.368043,81.64,7,49433.302979,1,0.004578,7970
8619,Highly_Fatal_And_Damaging,0.000000,20,0,70.282589,0.199633,78.37,6,47182.814607,2,0.011599,12099

In [272]:
df1.columns

Index(['Severity', 'Safety_Score', 'Days_Since_Inspection',
       'Total_Safety_Complaints', 'Control_Metric', 'Turbulence_In_gforces',
       'Cabin_Temperature', 'Accident_Type_Code', 'Max_Elevation',
       'Violations', 'Adverse_Weather_Metric', 'Accident_ID'],
      dtype='object')

In [273]:
dfff = df1_copy.sort_values(by = ['Severity', 'Safety_Score', 'Days_Since_Inspection',
       'Total_Safety_Complaints', 'Control_Metric', 'Turbulence_In_gforces',
       'Cabin_Temperature', 'Accident_Type_Code', 'Max_Elevation',
       'Violations', 'Adverse_Weather_Metric', 'Accident_ID'],
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last')

In [274]:
dfff

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
8619,Highly_Fatal_And_Damaging,0.000000,20,0,70.282589,0.199633,78.37,6,47182.814607,2,0.011599,12099
1339,Highly_Fatal_And_Damaging,0.000000,20,1,65.861440,0.368043,81.64,7,49433.302979,1,0.004578,7970
4690,Highly_Fatal_And_Damaging,0.000000,20,7,64.995442,0.549435,83.36,1,27361.800001,0,0.997981,10859
9473,Highly_Fatal_And_Damaging,0.000000,20,9,80.446673,0.396892,79.01,1,31491.276359,2,1.162902,11142
4171,Highly_Fatal_And_Damaging,0.000000,21,14,63.901550,0.322604,88.11,3,24144.011527,2,0.119253,12038
...,...,...,...,...,...,...,...,...,...,...,...,...
6464,Significant_Damage_And_Serious_Injuries,98.401826,3,26,55.059253,0.475868,79.26,7,29830.851138,2,0.002628,5270
1886,Significant_Damage_And_Serious_Injuries,98.401826,5,13,88.468551,0.168980,77.95,7,43717.284402,2,0.004002,4243
7461,Significant_Damage_And_Serious_Injuries,98.401826,5,28,49.635369,0.354339,76.53,7,34738.058245,2,0.003080,1331
5112,Significant_Damage_And_Serious_Injuries,98.401826,6,0,41.567912,0.634902,80.12,3,47433.016239,2,0.236465,10162
7150,Significant_Damage_And_Serious_Injuries,98.401826,6,11,47.174111,0.539698,86.47,7,47232.021088,2,0.004135,8441

In [275]:
dfff.drop(['Adverse_Weather_Metric','Violations','Max_Elevation','Accident_Type_Code','Cabin_Temperature','Turbulence_In_gforces','Control_Metric','Total_Safety_Complaints'],axis=1,inplace=True)

In [276]:
dfff

,Severity,Safety_Score,Days_Since_Inspection,Accident_ID
8619,Highly_Fatal_And_Damaging,0.000000,20,12099
1339,Highly_Fatal_And_Damaging,0.000000,20,7970
4690,Highly_Fatal_And_Damaging,0.000000,20,10859
9473,Highly_Fatal_And_Damaging,0.000000,20,11142
4171,Highly_Fatal_And_Damaging,0.000000,21,12038
...,...,...,...,...
6464,Significant_Damage_And_Serious_Injuries,98.401826,3,5270
1886,Significant_Damage_And_Serious_Injuries,98.401826,5,4243
7461,Significant_Damage_And_Serious_Injuries,98.401826,5,1331
5112,Significant_Damage_And_Serious_Injuries,98.401826,6,10162
7150,Significant_Damage_And_Serious_Injuries,98.401826,6,8441

In [277]:
df2.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,19.497717,16,6,72.151322,0.388959,78.32,4,37949.724386,2,0.069692,1
1,58.173516,15,3,64.585232,0.250841,78.60,7,30194.805567,2,0.002777,10
2,33.287671,15,3,64.721969,0.336669,86.96,6,17572.925484,1,0.004316,14
3,3.287671,21,5,66.362808,0.421775,80.86,3,40209.186341,2,0.199990,17
4,10.867580,18,2,56.107566,0.313228,79.22,2,35495.525408,2,0.483696,21

In [278]:
df22 = df2.copy()

In [279]:
df22.drop(['Adverse_Weather_Metric','Violations','Max_Elevation','Accident_Type_Code','Cabin_Temperature','Turbulence_In_gforces','Control_Metric','Total_Safety_Complaints'],axis=1, inplace=True)

In [280]:
df22.head()

   Safety_Score  Days_Since_Inspection  Accident_ID
0     19.497717                     16            1
1     58.173516                     15           10
2     33.287671                     15           14
3      3.287671                     21           17
4     10.867580                     18           21

In [281]:
dfff.head()

,Severity,Safety_Score,Days_Since_Inspection,Accident_ID
8619,Highly_Fatal_And_Damaging,0.0,20,12099
1339,Highly_Fatal_And_Damaging,0.0,20,7970
4690,Highly_Fatal_And_Damaging,0.0,20,10859
9473,Highly_Fatal_And_Damaging,0.0,20,11142
4171,Highly_Fatal_And_Damaging,0.0,21,12038

In [282]:
  dfff['Severity']

8619                  Highly_Fatal_And_Damaging
1339                  Highly_Fatal_And_Damaging
4690                  Highly_Fatal_And_Damaging
9473                  Highly_Fatal_And_Damaging
4171                  Highly_Fatal_And_Damaging
                         ...
6464    Significant_Damage_And_Serious_Injuries
1886    Significant_Damage_And_Serious_Injuries
7461    Significant_Damage_And_Serious_Injuries
5112    Significant_Damage_And_Serious_Injuries
7150    Significant_Damage_And_Serious_Injuries
Name: Severity, Length: 10000, dtype: object

In [283]:
dff1 = dfff["Severity"].astype('category')

In [284]:
dff1.dtype

CategoricalDtype(categories=['Highly_Fatal_And_Damaging', 'Minor_Damage_And_Injuries',
                  'Significant_Damage_And_Fatalities',
                  'Significant_Damage_And_Serious_Injuries'],
                 ordered=False)

In [285]:
dfff['Severity'] = dfff['Severity']

In [286]:
dfff.cc = pd.Categorical(dfff.Severity)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [287]:
dfff["Severity"]

8619                  Highly_Fatal_And_Damaging
1339                  Highly_Fatal_And_Damaging
4690                  Highly_Fatal_And_Damaging
9473                  Highly_Fatal_And_Damaging
4171                  Highly_Fatal_And_Damaging
                         ...
6464    Significant_Damage_And_Serious_Injuries
1886    Significant_Damage_And_Serious_Injuries
7461    Significant_Damage_And_Serious_Injuries
5112    Significant_Damage_And_Serious_Injuries
7150    Significant_Damage_And_Serious_Injuries
Name: Severity, Length: 10000, dtype: object

In [288]:
train_data["Severity"] = train_data["Severity"].astype('category')

In [289]:
dfff.dtypes

Severity                  object
Safety_Score             float64
Days_Since_Inspection      int64
Accident_ID                int64
dtype: object

In [291]:
train_data = dfff.copy()

In [292]:
train_data

,Severity,Safety_Score,Days_Since_Inspection,Accident_ID
8619,Highly_Fatal_And_Damaging,0.000000,20,12099
1339,Highly_Fatal_And_Damaging,0.000000,20,7970
4690,Highly_Fatal_And_Damaging,0.000000,20,10859
9473,Highly_Fatal_And_Damaging,0.000000,20,11142
4171,Highly_Fatal_And_Damaging,0.000000,21,12038
...,...,...,...,...
6464,Significant_Damage_And_Serious_Injuries,98.401826,3,5270
1886,Significant_Damage_And_Serious_Injuries,98.401826,5,4243
7461,Significant_Damage_And_Serious_Injuries,98.401826,5,1331
5112,Significant_Damage_And_Serious_Injuries,98.401826,6,10162
7150,Significant_Damage_And_Serious_Injuries,98.401826,6,8441

In [293]:
train_data.isnull().sum()

Severity                 0
Safety_Score             0
Days_Since_Inspection    0
Accident_ID              0
dtype: int64

In [294]:
y = train_data['Severity']
x = train_data.drop(['Severity'],axis = 1)

X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 1234)

In [295]:
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])


categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, num_attr),
        ('cat', categorical_transformer, cat_attr)])

In [296]:
clf_logreg = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', LogisticRegression())])

In [ ]:
score_1 = 100*(f1_score(y_true = y_train, y_pred = train_pred, average = 'weighted'))
print("F1_score :",score_1)

In [314]:
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [316]:
pip install xgboost

Collecting xgboost
  Using cached https://files.pythonhosted.org/packages/96/84/4e2cae6247f397f83d8adc5c2a2a0c5d7d790a14a4c7400ff6574586f589/xgboost-0.90.tar.gz
    ERROR: Command errored out with exit status 1:
     command: /opt/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/setup.py'"'"'; __file__='"'"'/private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base pip-egg-info
         cwd: /private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/
    Complete output (29 lines):
    ++ pwd
    + oldpath=/private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost
    + cd ./xgboost/
    + echo darwin19
    + grep -q darwin
    + LIB_XGBOOST=libxgboost.dylib
    + which g++-5
    + which g++-7
    + which g++-8
    + which clang++
    /usr/bin/clang++
    + export CC=clang
    + CC=clang
    + export CXX=clang++
    + CXX=clang++
    + make clean
    xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/setup.py", line 42, in <module>
        LIB_PATH = libpath['find_lib_path']()
      File "/private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/xgboost/libpath.py", line 48, in find_lib_path
        'List of candidates:\n' + ('\n'.join(dll_path)))
    XGBoostLibraryNotFound: Cannot find XGBoost Library in the candidate path, did you install compilers and run build.sh in root path?
    List of candidates:
    /private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/xgboost/libxgboost.dylib
    /private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/xgboost/../../lib/libxgboost.dylib
    /private/var/folders/gp/q0kq47m13_j3_3zxbc5h94f00000gn/T/pip-install-kbttazjm/xgboost/xgboost/./lib/libxgboost.dylib
    /opt/anaconda3/xgboost/libxgboost.dylib
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
Note: you may need to restart the kernel to use updated packages.

In [313]:
from datetime import datetime
from sklearn import metrics
from sklearn.metrics import classification_report     
from sklearn.metrics import confusion_matrix     
from sklearn.preprocessing import StandardScaler  # Helps us in Standardizing the data
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier

from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import accuracy_score,recall_score,precision_score

ModuleNotFoundError: No module named 'xgboost'

In [300]:
log_reg = LogisticRegression(random_state= 42)
svc = SVC(random_state= 42,gamma='auto',probability=True)
rf = RandomForestClassifier(random_state= 42,n_estimators = 100)
ada = AdaBoostClassifier(random_state= 42)
dt=DecisionTreeClassifier(criterion = "gini",random_state = 42)
bc = BaggingClassifier(base_estimator=dt, random_state=42)
vc = VotingClassifier(estimators=[('LogisticRegresion', log_reg), ('RandomForest',rf), ('SupportVectorMachine', svc),('AdaBoost',ada),('DecisionTree',dt)],voting='soft')

In [301]:
# Predict function
def training_predict(trainer, X_train, Y_train, X_test, Y_test):
    scores = {} # Initializing a Dictionary to store evaluation metrics    
    trainer.fit(X_train, Y_train)  # Training
    Y_pred = trainer.predict(X_test) # Predicts  
    scores['Accuracy_test'] = accuracy_score(Y_test , Y_pred)    
    scores['Recall_test'] = recall_score(Y_test , Y_pred,average='macro')    
    scores['Precision_test'] = precision_score(Y_test , Y_pred,average='macro')    
    return scores

In [302]:
# Ignore the error
import time
start = time.time()
predictors = {} # Initializing a dictionary to store training and testing data
for model in [log_reg, svc, rf,dt,ada,bc,vc]: # these are our objects that we instantiated above. We loop through them
    model_name = model.__class__.__name__
    predictors[model_name]  = {}
    predictors[model_name] =  training_predict(model, X_train, y_train, X_test, y_test)#Scores that is returned from trainer goes to
                                                                             # the respective predictor   print('Loop Ended at {}'.format(datetime.now().strftime("%H:%M:%S")))
print('\n')    
print('Loop took {} mins'.format((time.time() - start) / 60))

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Loop took 0.5560652852058411 mins

In [303]:
pd.DataFrame(predictors).T

                        Accuracy_test  Recall_test  Precision_test
LogisticRegression           0.360000     0.320564        0.257503
SVC                          0.329667     0.269161        0.436145
RandomForestClassifier       0.747333     0.736691        0.740657
DecisionTreeClassifier       0.732000     0.723570        0.724610
AdaBoostClassifier           0.548333     0.505457        0.468605
BaggingClassifier            0.736667     0.723699        0.732292
VotingClassifier             0.737000     0.727303        0.730485

In [304]:
rf1=RandomForestClassifier(n_estimators=10)

In [305]:
rf1.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [306]:
y_pred=rf1.predict(X_test)

In [307]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score,f1_score

In [308]:
y_train_pred=rf1.predict(X_train)
print("F1_Score for Train:",f1_score(y_train,y_train_pred,average='macro'))

F1_Score for Train: 0.9780587973655467

In [309]:
print("Accuracy :",accuracy_score(y_test,y_pred))

Accuracy : 0.7273333333333334

In [310]:
sub=rf1.predict(df22)

In [311]:
final= pd.DataFrame({'Accident_ID' : df22['Accident_ID'],
                     'Severity' : sub})

In [312]:
final.to_csv("submission_copy.csv",index=False)
final.shape

(2500, 2)